html {
    background: #354560;
}

.home {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    border-style: solid;
}

.auth {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    color: white;
    border-style: solid;
}

.userWrapper {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    color: white;
}

.logout {
    border-style: solid;
    border-radius: 5px;
}

.logout:hover {
    cursor: pointer;
}

.body {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

h3 {
    color: white;
}

.app {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 6fr;
}