.home {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    border-style: solid;
}

.auth {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    color: white;
    border-style: solid;
}

.userWrapper {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    color: white;
}

.logout {
    border-style: solid;
    border-radius: 5px;
}

.logout:hover {
    cursor: pointer;
}

h3 {
    color: white;
}
